{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block styles%}
    <link rel="stylesheet" href="static/bootstrap-grid.min.css">
    <link rel="stylesheet" href="static/base.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
{% endblock %}

{% block content_title %}
    Posts
{% endblock %}

{% block content %}
    {%for post in pages.items%}
        <p>
        <a href="{{url_for('post_detail', slug=post.slug)}}">{{post.title}}</a>
            </p>
    {%endfor%}

    <ul>
        {%if pages.has_prev%}
        <li><a href="/?page={{pages.prev_num}}">Пред.</a></li>
        {%endif%}
        <li>{{pages.page}}</li>
        {%if pages.has_next%}
        <li><a href="/?page={{pages.next_num}}">След.</a></li>
        {%endif%}
    </ul>

{% endblock %}